a {
  color: inherit;
  text-decoration: inherit;
}

.underlined {
  text-decoration: underline;
}

.Carousel-root-223 {
  height: 95%;
}

.CarouselItem {
  height: 100%;
}

.CarouselItem > div {
  height: 90%;
}

.makeStyles-carouselContainer-276 {
  position: relative;
}

.Carousel-root-327 {
  height: 100%;
}

.Carousel-buttonWrapper-331 {
  top: -15px !important;
  height: 100px !important;
  position: absolute !important;
  background-color: transparent !important;
}

.MuiDialog-paper {
  overflow-y: inherit !important;
}
