a {
  color: inherit;
  text-decoration: inherit;
}

.underlined {
  text-decoration: underline;
}

.Carousel-root-223 {
  height: 95%;
}

.CarouselItem {
  height: 100%;
}

.CarouselItem > div {
  height: 90%;
}

.makeStyles-carouselContainer-276 {
  position: relative;
}
