a {
  color: inherit;
  text-decoration: inherit;
}

.underlined {
  text-decoration: underline;
}

.MuiDialog-paper {
  overflow-y: inherit !important;
}

.MuiGrid-grid-xs-12 {
  max-width: none !important;
}

.MuiButton-contained,
.MuiButton-outlined {
  border-radius: 25px !important;
}
