body {
  background-color: rgba(249, 249, 249, 0.733);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.underlined {
  text-decoration: underline;
}

.MuiDialog-paper {
  overflow-y: inherit !important;
}

.MuiGrid-grid-xs-12 {
  max-width: none !important;
}

.MuiButton-contained,
.MuiButton-outlined {
  border-radius: 25px !important;
}

.reduce-line-height {
  p {
    line-height: 0;
  }
}

.blend {
  background-color: rgba(249, 249, 249, 0) !important;
}

.line-trough {
  text-decoration: line-through;
}
